@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
	font-family: 'Odibee Sans', cursive;
}

.load {
	width: 200px;
	height: 200px;
}

.hide {
    display: none !important;
}

#app {
	background-color: #1a1a19;
	height: 100vh;
	width: 100vw;
}

#startPage {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#startPage h1{
	color: #B7B296;
}

#startPage button{
	background-color: #B7B296;
}

#playerNickname-form {
	margin-top: 1.5rem;
	text-align: center;
}

#playingField {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

#playingField button{
	background-color: #B7B296;
}


#gameBoard {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 3rem;
	width: 75%;
}

#play {
	background-color: #E3E6CF;
	border-radius: 0.7rem;
	height: 550px;
	width: 780px;
	position: relative;
	margin: auto;
	display: flex;
}

#virus {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 200px;
	left: 200px;
}

.fa-user {
	padding-right: 0.5rem;
    color: green;
}

#players {
	flex-basis: 25%;
	border: 1px solid black;
	color: #B7B296;
	text-align: center;
}

#players h2, h3 {
	background-color: #828553;
	padding: 0.5rem 0.75rem;
	color: white;
}

#players ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#players li {
	font-size: 1.5rem;
	margin-top: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#players li:first-child {
	border-right: #B7B296 solid 4px;
	padding-right: 58px;
}

.playerInfo p {
	margin-bottom: 0 !important;
	font-size: 1.3rem;
}

#playerOne {
	padding-bottom: 2rem;
}


#waitForConnect {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}



#waitForConnect p {
	color: #B7B296;
	font-size: 1.5rem;
}

#getReady {
	font-size: 8rem;
}

#countdown {
	font-size: 6rem;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}