#app {
	background-color: black;
	height: 100vh;
	width: 100vw;
}

.hide {
	display: none !important;
}

#start {
	display: flex;
	height: 100vh;
	align-items: center;
}

#startGame {
	background-color: orange;
}

#startMatch {
	display: flex;
	justify-content: center;
	margin-top: 350px;
}

#reactionTime {
	color: white;
	font-weight: bold;
}

img {
	width: 25px;
	height: 25px;
}

#username-form {
	margin: 0 auto;
	text-align: center;
}

#chat-wrapper {
	display: flex;
	height: 100vh;
}

#chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #555;
}

#chat .form-group {
	flex-grow: 1;
	display: flex;
}

#chat .form-group #message {
	flex-grow: 1;
}

#player-info {
	flex-basis: 20%;
}

#player-info h2 {
	text-align: center;
	background-color: orange;
	padding: 0.5rem 0.75rem;
	color: white;
}

#player-info ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
	color: white;
	font-weight: bold;
}

#player-names {
	height: 200px;
}

#scores {
	height: 80px;
}

#yourScore {
	font-size: 2rem;
	text-align: center;
}


#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}

#gameboard {
	height: 100%;
	width: 100%;
   }